<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Photo contest</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("SconeBro Contest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")" id="site-name">
                    <img src="~/Content/images/logo/045157-green-grunge-clipart-icon-sports-hobbies-film-roll.png" alt="logo" id="site-logo"/>
                    <span>SCONEBRO</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create New Contest", "CreateContest", "Contests")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <ul class="nav navbar-nav nav-pills">
                                @*<li class="active"><a href="~/Users/Index">Recent tweets <span class="badge">0</span></a></li>*@
                                <li><a href="~/Users/Notifications">Notifications <span class="badge">0</span></a></li>
                            </ul>
                        </li>
                        <li>
                            
                        </li>
                        @*if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Admin", "AdminController")
                        }*@
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Created by Team SCONEBRO</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
