@model PhotoContest.Web.Models.ViewModels.UserEditProfileViewModel
@using (Html.BeginForm("Edit", "Users"))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-3">
                                <strong>First name:</strong>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.FirstName)
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-3">
                                <strong>Llast name:</strong>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.LastName)
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-3">
                                <strong>Email:</strong>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Email)
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-3">
                                <strong>PhoneNumber:</strong>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PhoneNumber)
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-3">
                                <strong>Password:</strong>
                            </div>
                            <div class="col-md-5">
                                @Html.ActionLink("Change Password", "ChangePassword", "Manage")

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-3">
                                <input type="submit" value="Save" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            }
