@using System.Data
@using System.Linq
@using PhotoContest.Models.Enumerations
@model PhotoContest.Web.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Profile";
}

@if (TempData["message-delete-contest-success"] != null)
{
    <h3 class="message-delete-contest-success">@TempData["message-delete-contest-success"]</h3>
}

@if (TempData["message-delete-contest-error"] != null)
{
    <h3 class="message-delete-contest-error">@TempData["message-delete-contest-error"]</h3>
}
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-5">
            <input type="button" value="Edit Profile" onclick="location.href='@Url.Action("Edit", "Users")'" />
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <strong>Username:</strong>
                </div>
                <div class="col-md-5">
                    @Model.UserName
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <strong>First Name:</strong>
                </div>
                <div class="col-md-5">
                   @if (@Model.FirstName == null)
                   {
                    <span>Not entered</span>
                   }
                   else
                   {
                    @Model.FirstName
                   }
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <strong>Last Name:</strong>
                </div>
                <div class="col-md-5">
                    @if (@Model.LastName == null)
                    {
                        <span>Not entered</span>
                    }
                    else
                    {
                        @Model.LastName
                    }
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <strong>Email:</strong>
                </div>
                <div class="col-md-5">
                    @Model.Email
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <strong>PhoneNumber:</strong>
                </div>
                <div class="col-md-5">
                    @if (@Model.PhoneNumber == null)
                    {
                        <span>Not entered</span>
                    }
                    else
                    {
                        @Model.PhoneNumber
                    }

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <strong>Coints:</strong>
                </div>
                <div class="col-md-5">
                    @Model.Coints
                </div>
            </div>
        </div>
        @if (@Model.ContestViewModels.Any())
        { <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <strong>MY CONTESTS</strong>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
            foreach (var item in @Model.ContestViewModels)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-4">
                            <strong>Title:</strong>@Html.ActionLink(@item.Title, "ContestDetails", "Contests",
                                                       new {id = @item.Id},
                                                       new {style = "color:#000", data_id = item.Id, id = item.Id})
                        </div>
                        <div class="col-md-4">
                            <strong>Description:</strong>@item.Description
                        </div>
                        <div class="col-md-4">
                            <strong>Active:</strong>@item.IsClosed
                        </div>
                        @if (item.DeadlineStrategy == DeadlineStrategy.ByTime.ToString())
                        {
                            <div class="col-md-4">
                                <strong>Deadline :</strong>@item.Deadline
                            </div>
                        }
                        @if (item.DeadlineStrategy == DeadlineStrategy.ByNumberOfParticipants.ToString())
                        {
                            <div class="col-md-4">
                                <strong>Max participants :</strong>@item.NumberOfParticipants
                            </div>
                        }

                        <div class="col-md-4">
                            <strong>Voting strategy:</strong>@item.VotingStrategy
                        </div>
                        <div class="col-md-4">
                            <strong>Reward strategy:</strong>@item.VotingStrategy
                        </div>
                        <div class="col-md-4">
                            <strong>Participation strategy :</strong>@item.ParticipationStrategy
                        </div>
                        <div class="col-md-4">
                            <strong>Created On:</strong>@item.CreatedOn
                        </div>
                    </div>
                    <div class="delete-contest-button">
                        <a href="" class="btn btn-primary">Edit contest</a>
                        @Html.ActionLink("Delete contest", "Delete", "Contests", new {id = item.Id}, new {@class = "btn btn-warning"})
                    </div>
                </div>
            }
            
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-3">
                        <strong>Contests:</strong>
                    </div>
                    <div class="col-md-5">
                        You have no contests created!
                    </div>
                </div>
            </div>
        }
        @if (@Model.ContestPictureViewModels.Any())
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <strong>MY PICTURES</strong>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            foreach (var picture in @Model.ContestPictureViewModels)
            {<div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <strong>Contest Title:</strong>@Html.ActionLink(@picture.ConstestTitle, "ContestDetails", "Contests",
                                                        new { id = @picture.ContestId },
                                                        new { style = "color:#000", data_id = picture.Id, id = picture.Id })
                    </div>
                    <div class="col-md-4">
                        <strong>Picture Title:</strong>@picture.Title
                    </div>
                    <div class="col-md-4">
                        <img src="@picture.Base64Data" alt="myPictures" width="250" height="220" />
                    </div>
                </div>
            </div>
            }
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-3">
                        <strong>My Pictures:</strong>
                    </div>
                    <div class="col-md-5">
                        You have no pictures uploaded!
                    </div>
                </div>
            </div>
        }
    </div>
</div>

