@model PhotoContest.Web.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Profile";
}
<div class="row">
    @Html.ActionLink("Edit Profile", "Edit")
    <br/>
    <label>Username</label>
    @Model.UserName
    <br/>
    <label>First name</label>
    @Model.FirstName
    <br/>
    <label>Last name</label>
    @Model.LastName
    <br/>
    <label>Email</label>
    @Model.Email
    <br/>
    <label>Coints</label>
    @Model.Coints
    <br/>
    @if (@Model.ContestViewModels.Any())
    {
        <label>Contests</label>
        foreach (var item in @Model.ContestViewModels)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.ActionLink(@item.Title, "ContestDetails", "Contests", null, new { style = "color:#000" })
                </div>
                <div class="col-md-3">
                    @item.Description
                </div>
                <div class="col-md-3">
                    @item.IsClosed
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @item.DeadlineStrategy
                </div>
                <div class="col-md-3">
                    @item.VotingStrategy
                </div>
                <div class="col-md-3">
                    @item.RewardStrategy
                </div>
                <div class="col-md-3">
                    @item.ParticipationStrategy
                </div>
            </div>
            <hr/>
            <br/>
        }
        <br/>
    }

    @if (@Model.ContestPictureViewModels.Any())
    {
        <label> My Pictures: </label><br/>
        foreach (var picture in @Model.ContestPictureViewModels)
        {
            <label>Contest Name</label>
        @Html.ActionLink(@picture.Contest.Title, "ContestDetails", "Contests", null, new { style = "color:#000" })                                                                 
        <br/>
            <label>Picture Title</label>
            @picture.Title
        <br/>
    <img src="@picture.Base64Data" alt="myPictures" width="250" height="220" />
            <br/>
        }
    }

</div>
