@using PhotoContest.Web.Models.BindingModel
@model  PhotoContest.Web.Models.ViewModels.ContestViewModel
@{
    ViewBag.Title = "Contest Details";
}

@*<form method="POST" action="~/Pictures" enctype="multipart/form-data">
    <input type="text" name="title"/>
    <input type="file" name="image"/>
    <input type="submit" value="Upload"/>
</form>

@Html.BeginForm("UploadImage", "PicturesController", FormMethod.Post, FormMethod.Post, new {enctype = "multipart/form-data"})*@
@Html.Partial("_UploadFormPartial", new ImageBindingModelUserInput())

<div class="row">

    <div class="row">
        <div class="col-md-3">
            @Model.Title
        </div>
        <div class="col-md-3">
            @Model.Description
        </div>
        <div class="col-md-3">
            @Model.OwnerName
        </div>
        <div class="col-md-3">
            @Model.IsClosed
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Model.DeadlineStrategy
        </div>
        <div class="col-md-3">
            @Model.VotingStrategy
        </div>
        <div class="col-md-3">
            @Model.RewardStrategy
        </div>
        <div class="col-md-3">
            @Model.ParticipationStrategy
        </div>
    </div>
    <hr/>
</div>

@*@Html.Partial("Vote")*@

@*@Html.ActionLink("Vote", "IncreaseVote", "Votes", new { id = Model.Id})*@

@using (Html.BeginForm("Vote", "Votes", new {contestId = Model.Id}))
{
    <input type="submit" class="btn btn-primary" value="Vote +"/>
}