@model IEnumerable<PhotoContest.Web.Models.ViewModels.ContestViewModelActiveInactivePage>

@{
    ViewBag.Title = "Closed contests";
}

<div class="row">
    <div class="row">
        <div class="col-md-3">
            <h3>Title</h3>
        </div>
        <div class="col-md-3">
            <h3>Theme</h3>
        </div>
        <div class="col-md-3">
            <h3>Author</h3>
        </div>
        <div class="col-md-3">
            <h3>Created at</h3>
        </div>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-3 active contest-title">
                @Html.ActionLink(@item.Title, "ContestDetails", "Contests",
                    new { id = @item.Id }, null)
            </div>
            <div class="col-md-3 description">
                @item.Description
            </div>
            <div class="col-md-3 author">
                @Html.ActionLink(@item.OwnerUsername, "Profile", "Users",
                    new { id = @item.OwnerId }, null)
            </div>
            <div class="col-md-3 create-on">
                @item.CreatedOn
            </div>
        </div>
        <hr/>
    }
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to home</a>
</div>